
<link rel="stylesheet" href="/css/_header.css">
<header>
    <h2>Authentication System</h2>
    <div id="links">
        <a href="/users/sign-in">Sign-In</a>
        <a href="/users/sign-up">Sign-Up</a>
    </div>
</header>