<style>
    h1{
        padding: 20px;
        background-color: darkorange;
        color: white;
        font-size: 3rem;
        font-weight: bolder;
        width: 60%;
        text-align: center;
        margin: 1rem auto;
        border-radius: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h3{
        font-weight: bolder;
        font-family: cursive;
        width: 58%;
        margin: 2rem auto;
    }
</style>
<h1>Welcome to Authentication System's Home page</h1>

<h3>This is just template website to get started with Authentication system for any website. Feel free to use for adding to ur projects</h3>