<link rel="stylesheet" href="/css/sign-in.css">

<form action="/users/create-session" method="POST">

    <input type="email" id="email" name="email" placeholder="Enter Username/Email" required>
    
    <input type="password" id="pass" name="password" placeholder="Enter password..." required>

    <button type="submit">Sign-In</button>
</form>